@model InventoryApp.Models.Product

@{
    ViewBag.Title = "編集";
}

<h2>商品編集</h2>

<div class="card">
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(m => m.Name, "商品名")
            @Html.TextBoxFor(m => m.Name)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Description, "説明")
            @Html.TextAreaFor(m => m.Description)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Category, "カテゴリ")
            @Html.TextBoxFor(m => m.Category)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Price, "単価")
            @Html.TextBoxFor(m => m.Price, new { type = "number", step = "0.01" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Quantity, "在庫数")
            @Html.TextBoxFor(m => m.Quantity, new { type = "number" })
        </div>

        <button type="submit" class="btn btn-primary">更新</button>
        @Html.ActionLink("キャンセル", "Index", null, new { @class = "btn" })
    }
</div>
